<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" style="margin-bottom: 10px;">{{ username }}</a>
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action" style="margin-bottom: 10px;">Ana Sayfa</a>
    <a href="{% url 'add_question' %}" class="list-group-item list-group-item-action" style="margin-bottom: 10px;">SORU EKLE</a>
    {% for category in categories %}
        <a href="{% url 'category_questions' category.id %}" class="list-group-item list-group-item-action">{{ category.name }}</a>
    {% endfor %}
    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action" style="margin-top: 10px;">Çıkış Yap</a>
</div>